# Яндекс Практикум. Курс "Аналитик данных". Спринт 1

## Постановка задачи
Решим задачу из реальной практики сервиса Яндекс.Музыка: исследовать предпочтения пользователей и ответить на вопрос, целесообразна ли интеграция двух сервисов — Музыки и Радио.

Получите доступ к библиотеке Pandas, используйте имя переменной pd.

In [1]:
import pandas as pd

Создайте список `music` с 5 парами «имя вашего любимого исполнителя - название его песни». Пример такого списка - `atlas` из теоретического введения к этому уроку.

In [2]:
music = [
    ['Исполнитель1', 'Песня1'],
    ['Исполнитель2', 'Песня2'],
    ['Исполнитель3', 'Песня3'],
    ['Исполнитель4', 'Песня4'],
    ['Исполнитель5', 'Песня5'],
]

Создайте список `entries` с названиями для двух столбцов — `artist` и `track` (здесь эти английские слова употребляются в значении «исполнитель» и «композиция»).

In [3]:
entries = ['artist', 'track']

Используя конструктор `DataFrame()`, создайте таблицу из списка ваших любимых исполнителей `music` и списка столбцов `entries`. Сохраните таблицу в переменной `playlist` и выведите эту сборную таблицу на экран.

In [4]:
playlist = pd.DataFrame(data=music, columns=entries)
print(playlist)

         artist   track
0  Исполнитель1  Песня1
1  Исполнитель2  Песня2
2  Исполнитель3  Песня3
3  Исполнитель4  Песня4
4  Исполнитель5  Песня5

Прочитайте файл music_log.csv и сохраните его в переменной `df`. Сохраните первые 5 строк с данными из music_log.csv в переменной `music_head` и выведите значение переменной на экран.

In [5]:
df = pd.read_csv('.\Datasets\music_log.csv')
music_head = df.head()
print(music_head)

       user_id   total play        Artist    genre                      track
0     BF6EA5AF    92.851388    Marina Rei      pop                     Musica
1     FB1E568E   282.981000  Stive Morgan  ambient                Love Planet
2     FB1E568E   282.981000  Stive Morgan  ambient                Love Planet
3     EF15C7BA     8.966000           NaN      NaN  dance.Loving Every Minute
4     82F52E69   193.776300        Rixton      pop     Me And My Broken Heart

Сохраните последние 10 строк с данными из music_log.csv в переменной `music_tail` и выведите значение переменной на экран.

In [6]:
music_tail = df.tail(10)
print(music_tail)

        user_id   total play                 Artist         genre  \
4      82F52E69     193.7763                 Rixton           pop
5      82F52E66     197.7763              RixtonPal   электроника
6      82F52E36     237.7763              RixtonPal    electronic
7      4166D680       3.0070             Henry Hall          jazz
8       F4F5677       0.1000                    NaN  classicmetal
9      386FE1ED     211.8800                    NaN    electronic
10     A5E0D927       3.1610  Andrew Paul Woodworth           pop
11     E9GH765F       5.8780           Pillar point          rock
12     D3GH6V55       8.8560          Steve Campbek          rock
13     576GF8S7       0.0000           David Guetta           pop

                     track
4   Me And My Broken Heart
5                 Megustos
6                 Megabass
7                     Home
8                      NaN
9                  Riviera
10  Inthe name of the game
11                    Dove
12             Morning Due
13                 Bye bye

Создайте переменную `shape_table` и сохраните в ней размеры таблицы music_log.csv. Напечатайте на экране размер таблицы в таком виде:
Размер таблицы: ...

In [7]:
shape_table = df.shape
print(f'Размер таблицы: {shape_table}')

Размер таблицы: (14, 5)

Сколько наблюдений в наборе данных? В переменной `shape_table` хранится кортеж. Его первый элемент — количество наблюдений, который надо сохранить в переменной `observations_table` (не забывайте, что индексация элементов идёт с 0). Напечатайте на экране ответ в таком виде:
Количество наблюдений: ...

In [8]:
observations_table = shape_table[0]
print(f'Количество наблюдений: {observations_table}')

Количество наблюдений: 14

Найдите в информации, которую вернул метод `info()`, число наблюдений. Вручную присвойте это число как значение переменной `observations_info_table`.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0        user_id  14 non-null     object
 1    total play   14 non-null     float64
 2    Artist       11 non-null     object
 3    genre        13 non-null     object
 4    track        13 non-null     object
dtypes: float64(1), object(4)
memory usage: 688.0+ bytes

In [10]:
observations_info_table = 67963

Вы ещё не запутались? Давайте осмотримся и заодно вспомним условные конструкции.
Поскольку в ходе работы аналитик объявляет разные переменные и сохраняет в них добытую разными способами информацию, запутаться очень легко. Именно поэтому необходимо проверять себя и текущие результаты. Сравните полученные результаты в переменных `observations_info_table` и `observations_table`. Если значения переменных совпадают, то выведите количество наблюдений и сообщение:  
```
'Решение верно, количество наблюдений равно', observations_table  
```
Если значения переменных не совпадают, то выведите сообщение:
```
'Решение неверно, проверьте ещё раз!' 
```

In [11]:
if observations_info_table == observations_table:
    print('Решение верно, количество наблюдений равно', observations_table)
else:
    print('Решение неверно, проверьте ещё раз!')

Решение неверно, проверьте ещё раз!

Получите таблицу, состоящую из столбцов genre и Artist. Сохраните её в переменной `genre_fight`.

In [12]:
genre_fight = df.loc[:,[' genre', ' Artist']]
genre_fight.head()

     genre        Artist
0      pop    Marina Rei
1  ambient  Stive Morgan
2  ambient  Stive Morgan
3      NaN           NaN
4      pop        Rixton

Посчитайте число прослушанных треков в жанре поп. Для этого лучше всего использовать логическое условие `genre_fight['genre'] == 'pop'`. Сохраните результат в переменной `genre_pop`. Напечатайте ответ на экране в таком виде:
Число прослушанных треков в жанре поп равно ...

In [13]:
genre_pop = genre_fight.loc[genre_fight[' genre'] == 'pop'].count()[0]
print('Число прослушанных треков в жанре поп равно', genre_pop)

Число прослушанных треков в жанре поп равно 4

Теперь посчитайте число прослушанных треков в жанре рок. Допишите в код подсчёт, похожий на предыдущий, только с логическим условием `genre_fight['genre'] == 'rock'`. Сохраните результат в переменной `genre_rock`. Напечатайте ответ на экране в таком виде:
Число прослушанных треков в жанре рок равно ...

In [14]:
genre_rock = genre_fight.loc[genre_fight[' genre'] == 'rock'].count()[0]
print('Число прослушанных треков в жанре рок равно', genre_rock)

Число прослушанных треков в жанре рок равно 2

Напишите условную конструкцию, которая сравнивает полученные значения и выводит информацию о победителе в этом бою! Если победил жанр рок, то выведите сообщение "Рок победил!", а если победил жанр поп - сообщение "Попса forever!"
Не удаляйте вывод числа прослушанных треков в жанрах поп и рок.

In [15]:
if genre_pop > genre_rock:
    print('Попса forever!')
else:
    print('Рок победил!')

Попса forever!

Получите таблицу только с жанром rock и сохраните её в переменной rock.

In [16]:
rock = df.loc[df[' genre'] == 'rock']

Выделим время прослушивания роковых композиций в особую структуру данных. Сохраните столбец 'total play' таблицы rock в переменной `rock_time`.

In [17]:
rock_time = rock[' total play']

Обратитесь к новой Series c именем `rock_time` и посчитайте количество треков жанра рок, пропущенных в течение 5 секунд. Логическим условием укажите `rock_time <= 5`. Результат сохраните в переменной `rock_haters` и напечатайте на экране с пояснением:
Количество пропущенных треков жанра рок равно ...

In [18]:
rock_haters = rock_time.loc[rock_time<=5].count()
print('Количество пропущенных треков жанра рок равно', rock_haters)

Количество пропущенных треков жанра рок равно 0

Выберите из исходной таблицы только строки с жанром 'pop' и сохраните эту новую таблицу в переменной pop.
Вывод результата предыдущей задачи закомментируйте.

In [19]:
pop = df.loc[df[' genre'] == 'pop']


Теперь по аналогии с роком создайте Series, где хранятся только данные о времени воспроизведения композиций в жанре поп. Назовите его `pop_time` и сохраните в нём данные столбца 'total play' из таблицы pop .

In [20]:
pop_time = pop[' total play']

Снова по аналогии с роком обратитесь к Series, на сей раз `pop_time`, чтобы посчитать количество пропущенных в течение 5 секунд треков жанра поп. Используйте условие `pop_time <= 5`. Результат сохраните в переменной `pop_haters` и напечатайте на экране в таком виде:
Количество пропущенных треков жанра поп равно ...
Вывод данных о роке закомментируйте.

In [21]:
pop_haters = pop_time.loc[pop_time<=5].count()
print('Количество пропущенных треков жанра поп равно', pop_haters)

Количество пропущенных треков жанра поп равно 2

Для обоих жанров посчитайте долю быстро пропущенных пользователями композиций в процентах. Разделите количество треков, которые пользователи пропустили — соответственно `rock_haters` и `pop_haters` — на общее количество треков жанра рок и жанра поп.
Общее количество треков жанра равно количеству наблюдений в таблицах rock и pop, т.е. значению атрибута `shape[0]` этих таблиц.
Результаты сохраните в переменных `rock_skip` и `pop_skip`. Выведите значения новых переменных в процентах с точностью до одного знака после запятой в такой форме:
Доля пропущенных композиций жанра рок равна: ...
Доля пропущенных композиций жанра поп равна: ... 
Вывод результата предыдущей задачи закомментируйте.

In [22]:
rock_skip = rock_haters / rock.shape[0] 
pop_skip = pop_haters / pop.shape[0] 

print('Доля пропущенных композиций жанра рок равна: {:.1%}'.format(rock_skip))
print('Доля пропущенных композиций жанра поп равна: {:.1%}'.format(pop_skip))

Доля пропущенных композиций жанра рок равна: 0.0%
Доля пропущенных композиций жанра поп равна: 50.0%

Выведите список столбцов.

In [23]:
print(df.columns)

Index(['     user_id', ' total play', ' Artist', ' genre', ' track'], dtype='object')

Подготовьте список `new_names` с новыми именами для столбцов.
user_id → user_id
total play → total_play_seconds
Artist → artist_name
genre → genre_name
track → track_name

In [24]:
new_names = ['user_id', 'total_play_seconds', 'artist_name', 'genre_name', 'track_name']

Переименуем столбцы таблицы, которая хранится в переменной `df`.
Вызовите метод `set_axis()` и передайте ему список `new_names`, а значением аргумента `inplace` установите **True**.

In [25]:
df.set_axis(new_names, axis='columns', inplace=True)

Проверьте, что получилось, запросив для нашей структуры данных `df` атрибут `columns`.

In [26]:
print(df.columns)

Index(['user_id', 'total_play_seconds', 'artist_name', 'genre_name',
       'track_name'],
      dtype='object')

Посчитайте количество пропущенных значений и выведите его на экран.

In [27]:
print(df.isnull().sum())

user_id               0
total_play_seconds    0
artist_name           3
genre_name            1
track_name            1
dtype: int64

Для решения поставленной менеджером задачи важно сохранить содержание столбца 'genre_name'. Если по какой-то причине имя исполнителя и название трека оказались упущены, а жанр композиции известен, эту строку надо сберечь.
Заполните отсутствующие значения столбца 'track_name' строкой 'unknown'.

In [28]:
df.track_name = df.track_name.fillna('unknown')

Заполните отсутствующие значения столбца 'artist_name' словом unknown.

In [29]:
df.artist_name = df.artist_name.fillna('unknown')

Удалите пропущенные значения из столбца 'genre_name'.

In [30]:
df.dropna(subset = ['genre_name'], inplace=True)

Проверьте полученный результат. Просмотрите информацию о наборе данных: воспользуйтесь методом `info()`

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 13
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             13 non-null     object
 1   total_play_seconds  13 non-null     float64
 2   artist_name         13 non-null     object
 3   genre_name          13 non-null     object
 4   track_name          13 non-null     object
dtypes: float64(1), object(4)
memory usage: 624.0+ bytes

Сохраните текущий размер таблицы в переменной `shape_table`

In [32]:
shape_table = df.shape

Посчитайте и выведите на экран суммарное количество дубликатов в таблице.

In [33]:
print(df.duplicated().sum())

1

Удалите дубликаты. Используйте метод `reset_index()` для сохранения порядка индексов.

In [34]:
df = df.drop_duplicates().reset_index(drop=True)

Сохраните в переменную `shape_table_update` размер таблицы после удаления дубликатов.

In [35]:
shape_table_update = df.shape

Сравните переменные `shape_table` и `shape_table_update`. Если они равны, выведите сообщение 'Размер таблицы не изменился, текущий размер: ' и значение переменной `shape_table_update`.
В ином случае сообщение должно быть таким: 'Таблица уменьшилась, текущий размер:' и значение переменной `shape_table_update`.

In [36]:
if shape_table == shape_table_update:
    print('Размер таблицы не изменился, текущий размер:', shape_table_update)
else:
    print('Таблица уменьшилась, текущий размер:', shape_table_update)

Таблица уменьшилась, текущий размер: (12, 5)

Получите уникальные значения столбца 'genre_name', используйте метод `unique()`. Просмотрите результат и найдите название жанра, которое выпадает из общего ряда.

In [37]:
print(df.genre_name.unique())

['pop' 'ambient' 'электроника' 'electronic' 'jazz' 'classicmetal' 'rock']

В столбце 'genre_name' замените значение 'электроника' на 'electronic' .

In [38]:
df.genre_name = df.genre_name.replace('электроника', 'electronic')

Оцените изменения: пересчитайте количество значений 'электроника' в столбце 'genre_name'. Если удалось всё заменить, результат должен быть равен 0. Сохраните этот результат в переменной `genre_final_count`, выведите на экран.

In [39]:
genre_final_count = df.genre_name[df.genre_name == 'электроника'].count()
print(genre_final_count)

0

Прочитайте данные из файла music_log_upd.csv и выведите первые 10 строк.
music_log_upd.csv — обновлённый файл с данными, которые прошли предобработку в предыдущей теме.

In [43]:
df = pd.read_csv('.\Datasets\music_log_upd.csv')
print(df.head(10))

       user_id   total play        Artist         genre  \
0     BF6EA5AF    92.851388    Marina Rei           pop
1     FB1E568E   282.981000  Stive Morgan       ambient
2     FB1E568E   282.981000  Stive Morgan       ambient
3     EF15C7BA     8.966000           NaN           NaN
4     82F52E69   193.776300        Rixton           pop
5     82F52E66   197.776300     RixtonPal   электроника
6     82F52E36   237.776300     RixtonPal    electronic
7     4166D680     3.007000    Henry Hall          jazz
8      F4F5677     0.100000           NaN  classicmetal
9     386FE1ED   211.880000           NaN    electronic

                       track
0                     Musica
1                Love Planet
2                Love Planet
3  dance.Loving Every Minute
4     Me And My Broken Heart
5                   Megustos
6                   Megabass
7                       Home
8                        NaN
9                    Riviera

Получите список названий столбцов, запросив атрибут columns. Результат выведите на экран.

In [44]:
print(df.columns)

Index(['     user_id', ' total play', ' Artist', ' genre', ' track'], dtype='object')

Приведем названия колонок в порядок

In [52]:
new_names = ['user_id', 'total_play_seconds', 'artist_name', 'genre_name', 'track_name']
df.set_axis(new_names, axis='columns', inplace=True)

Посчитайте количество пустых значений в наборе данных, сохраните результат в переменной `na_number`. Выведите её значение на экран.

In [45]:
na_number = df.isna().sum()
print(na_number)

     user_id    0
 total play     0
 Artist         3
 genre          1
 track          1
dtype: int64

Посчитайте количество дубликатов в наборе данных, сохраните результат в переменной `duplicated_number`. Выведите её значение на экран.

In [46]:
duplicated_number = df.duplicated().sum()
print(duplicated_number)

1

Меломаны у нас есть. Сейчас узнаем идентификатор user_id одного из них. Для этого сгруппируем данные по каждому пользователю, чтобы собрать жанры прослушанных им композиций.
Сгруппируйте DataFrame по столбцу user_id, сохраните полученный результат в переменной `genre_grouping`.
Посчитайте количество жанров, которые выбрали пользователи, методом `count()`, указав, что выбираем один столбец genre_name. Сохраните результат в переменной `genre_counting` и выведите первые 30 строк этой таблицы.

In [53]:
genre_grouping = df.groupby('user_id')
genre_counting = genre_grouping.genre_name.count()
print(genre_counting.head(30))

user_id
386FE1ED    1
4166D680    1
576GF8S7    1
82F52E36    1
82F52E66    1
82F52E69    1
82F52X66    1
A5E0D927    1
A5E1D927    1
BF6EA5AF    1
D3GH6V55    1
E9GH765F    1
EF15C7BA    0
F4D5677     1
F4F5677     1
FB1E568E    2
Name: genre_name, dtype: int64

Быть может, те, кто за день слушает больше 50 песен, имеют более широкие предпочтения. Чтобы найти такого, изготовим универсальный инструмент.
Напишите функцию `user_genres`, которая принимает некую группировку как свой аргумент group. Функция должна перебирать группы, входящие в эту группировку.
В каждой группе два элемента — имя группы с индексом 0 и список значений с индексом 1.
Обнаружив такую группу, в которой список (элемент с индексом 1) содержит более 50 значений, функция возвращает имя группы (значение элемента с индексом 0).

In [54]:
def user_genres(group):
    for col in group:
        if len(col[1]) > 50:
            user = col[0]
            return user

Вызовите функцию user_genres, как аргумент передайте ей genre_grouping. Результат – user_id одного из неведомых нам любителей музыки – сохраните в переменной `search_id` и выведите значение на экран.

In [55]:
search_id = user_genres(genre_grouping)
print(search_id)

None