In [1]:
# https://stepik.org/lesson/375665/step/1?unit=363415

# Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv , находящийся по ссылке, с разделителем ;  и сохраните 
# в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head

import pandas as pd

In [2]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [46]:
# bookings_head = bookings[:7]

bookings_head = bookings.head(n=7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [13]:
# К какому типу относится большинство переменных? 

bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [3]:
# Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для 
# дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего 
# подчеркивания. Например: Is Canceled -> is_canceled

bookings = bookings.rename(columns = {column: column.replace(' ','_').lower() for column in bookings.columns})
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [35]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований? 
# Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите 
# страны, входящие в топ-5.

(bookings.query('is_canceled == 0')
     .groupby('country')
     .agg({'is_canceled': 'count'})
     .sort_values('is_canceled', ascending = False)
     .head(5))

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

In [44]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения 
# в пропуски с точностью до 2 знаков после точки.

bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [10]:
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга.
# Сколько подобных наблюдений встретилось в датасете?

len(bookings.query('reserved_room_type != assigned_room_type'))

14917

In [97]:
# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

(bookings.groupby(["arrival_date_year", "arrival_date_month"])
     .agg({"is_canceled": "count"})
     .sort_values(["arrival_date_year", "is_canceled"], ascending = [True, False])
     .groupby("arrival_date_year")
     .head(1))

                                      is_canceled
arrival_date_year arrival_date_month
2015              September                  5114
2016              October                    6203
2017              May                        6313

In [98]:
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel 
# отменялись чаще всего в 2015? 2016? 2017? 

(bookings.query("hotel == 'City Hotel'")
     .groupby(["arrival_date_year", "arrival_date_month"])
     .agg({"is_canceled": "count"})
     .sort_values(["arrival_date_year", "is_canceled"], ascending = [True, False])
     .groupby("arrival_date_year")
     .head(1))

                                      is_canceled
arrival_date_year arrival_date_month
2015              September                  3529
2016              October                    4219
2017              May                        4556

In [102]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies
# Какая из них имеет наибольшее среднее значение?

bookings.agg({"adults": "mean", "children": "mean", "babies": "mean"}).idxmax()

'adults'

In [12]:
# Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось
# наибольшим?
# City hotel – отель находится в городе
# Resort hotel – отель курортный
# В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

bookings['total_kids'] = bookings.children + bookings.babies

In [18]:
(bookings.groupby("hotel")
     .agg({"total_kids": "mean"})
     .round(2)
     .max())

total_kids    0.14
dtype: float64

In [20]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. 
# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались 
# от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой
# отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.
# Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка 
# (total_kids), в противном случае – False. Далее проверьте, среди каких пользователей показатель оттока выше. 
# В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ 
# пойдёт 24.56)

bookings['has_kids'] = bookings.total_kids > 0

In [49]:
# Группа бронирований с детьми

round(bookings.query('has_kids and is_canceled == 1').shape[0] / bookings.query('has_kids').shape[0] * 100, 2)

34.92

In [50]:
# Группа бронирований без детей

round(bookings.query('has_kids == False and is_canceled == 1').shape[0] / bookings.query('has_kids == False').shape[0] * 100, 2)

37.22